.department-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  border-bottom: 1px solid rgb(165, 165, 165);
}
.department-title {
  font-size: 15px;
  color: rgb(78, 78, 78);
}
.department-info {
  width: 150px;
}
.edit-info {
  font-size: 12px;
  display: flex;
  width: 100%;
}
.edit-action {
  font-family: Monospace;
  color: #08A650;
  margin-right: 10px;
  border-bottom: 2px solid #08A650;
  cursor: pointer;
}
.updated-at {
  color: rgb(83, 83, 83);
  font-family: Monospace;
}

.see-members-button {
  border: 1px solid #646464;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.733);
  padding: 10px;
  font-size: 13px;
  text-align: center;
  width: 85px;
  height: 38px;
  cursor: pointer;
}
.see-members-button:hover {
  background: #08A650;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
}

.position {
  background: #E2E2E2;
  color: #575757;
  font-family: monospace;
  width: 28px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;;
  border-radius: 2px;
}

.delete-button {
  cursor: pointer;
}
.delete-button > svg {
  
}