.menu-container {
  padding: 25px 25px 20px 25px;
  border-bottom: 1px solid rgb(165, 165, 165);
  font-family: 'Avenir Next';
  color: #555c64;
  display: flex;
}

.menu-option {
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  border: 1px solid #646464;
  padding: 8px 15px;
  border-radius: 20px;
  opacity: 0.7;
  text-transform: capitalize;
}

.menu-option:hover {
  opacity: 1;
  border: 1px solid #646464;
  color: #394149;
}

.selected {
  opacity: 1;
  border: 1px solid #646464;
  background: #f0f0f0;
  color: #495158;
}