@media only screen and (min-width: 768px ) {
  .header {
    padding: 0 1.5625rem;
    display: flex;
    justify-content: space-between;
  }

  .project-name {
    color: var(--author-color);
    font-family: 'Avenir Next';
    font-weight: bold;
    margin-bottom: 0.3125rem;
  }
  .project-author {
    color: var(--author-color);
    font-weight: 300;
    font-size: 0.6875rem;
    font-family: 'American-Typewriter';
  }
  .container {
    width: 32.5rem;
    height: 36.875rem;
    background: var(--bg-color);
    border: 0.0625rem solid var(--border-color);
    border-radius: 0.25rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .logo {
    height: 3.4375rem;
  }
  .logo > svg {
    width: 7.5rem;
    height: 3.75rem;
    fill: var(--logo-font-color);
  }
  .create-button-container {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}