.create-button-container {
  position: absolute;
  right: 1.5625rem;
  top: 1.5625rem;
  width: 6.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-button {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.0625rem dashed var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.75rem;
  margin-bottom: 0.625rem;
  cursor: pointer;
}

.create-button ~ p {
  font-size: 1rem;
  text-align: center;
  color: var(--logo-font-color);
  font-family: monospace;
}