.create-button-container {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 28px;
  margin-bottom: 10px;
  cursor: pointer;
}

.create-button ~ p {
  font-size: 13px;
  text-align: center;
  font-family: monospace;
}