.employee-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.25rem 0;
  border-bottom: 0.0625rem solid var(--border-color);
}

.employee-info {
  width: 12.5rem;
}

.name {
  color: var(--font-color);
  margin-bottom: 0.3125rem;
  font-size: 0.9375rem;
}
.position {
  background: var(--menu-bg-color);
  color: var(--font-color);
  font-family: monospace;
  width: 1.75rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;;
  border-radius: 0.125rem;
}

.role {
  color: var(--font-color);
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: monospace;
}

.edit-button {
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.125rem;
  color: var(--font-color);
  padding: 0.625rem;
  font-size: 0.8125rem;
  text-align: center;
  width: 5.3125rem;
  height: 2.375rem;
  cursor: pointer;
}
.edit-button:hover {
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  border: 0.0625rem solid transparent;
}

.profile-pic {
  width: 3.125rem;
    display: flex;
    align-items: center;
    color: #839c8e;
    justify-content: center;
    height: 3.125rem;
    font-weight: bold;
    background: var(--menu-bg-color);
    border-radius: 50%;
}

.delete-button {
  cursor: pointer;
}