.empty-box {
  border: 0.125rem dashed var(--border-color);
  width: 80%;
  color: var(--font-color);
  padding: 1.25rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3.125rem;
  border-radius: 0.125rem;
  font-size: 1rem;
  font-family: monospace;
  line-height: 1.6rem;
}
.empty-box > span {
  text-transform: lowercase;
}