.section-title {
  padding: 1.5625rem 1.5625rem 1.25rem 1.5625rem;
  border-bottom: 0.0625rem solid var(--border-color);
  font-family: 'Avenir Next';
  color: var(--font-color);
}

.button {
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.125rem;
  color: var(--font-color);
  padding: 0.625rem;
  font-size: 0.8125rem;
  text-align: center;
  width: 6.25rem;
  height: 2.375rem;
  cursor: pointer;
}

.active {
  background: var(--primary-color);
    border: none;
    font-weight: bold;
    color: white;
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

.pager {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0 0 0;
}
.pager > span {
  margin: 0 1.25rem;
  font-family: monospace;
  color: var(--font-color);
}